@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body{
    font-family: Arial sans-serif;
    padding: 20px;    
    background: color #011101;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: orange;
    box-shadow:10px 10px 10px rgba(10px, 10px, 10px, 0.1);
}

.img{
    height: 222px;
    width: 222px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-position:center ;  
    animation: spin 3s linear infinite ;               
}

h2{
    color: #03101e;
    background-color: #bdefbd;
    border-radius: 10px;
    
}
.section {
    margin-bottom: 20px;
    color: blue;
    border-radius: 10px;
    
}
ul {
    list-style: none;
    padding: 0;
}


li{
    padding: 5px;
    
}

input[type="checkbox"]{
    margin-right: 10px;
}

h1{
    background-color: rgb(135, 235, 215);
    height: 50px;
    width: 400px;
    text-align: center;
    margin : 20px auto;
    border-radius: 10px;
    line-height: 50px;  
    
}

.Date{
    background-color: rgb(236, 202, 228);
    font-size: 0.85rem;
    border: 2px solid black;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;   
}

.Day{
    background-color: rgb(242, 255, 0);
    font-size: 0.85rem;
    border: 2px solid black;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
}

.border{
    width: 100px;
    height: 100px;
    padding: 15px 30px;
    margin: 20px auto;
    border-radius: 50px;
    display:inline-block;
    text-align: center;
    border: 2px solid 333;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}